<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProductionManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid col-10 mx-auto">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProductionManagementSystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto  mb-2 mb-lg-0">
                        @if (User.IsInRole(RoleEnum.Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Logs" asp-action="Index">Логи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Пользователи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Заказы</a>
                            </li>
                        }
                        @if (User.Identity?.Name != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Index">Задачи</a>
                            </li>
                        }
                        @if (User.IsInRole(RoleEnum.Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Devices" asp-action="Index">Приборы</a>
                            </li>
                        }
                        @if (User.IsInRole(RoleEnum.OrderPicker) || User.IsInRole(RoleEnum.Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComponents" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Монтаж
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownComponents">
                                    <li><a class="dropdown-item" asp-controller="Components" asp-action="Index">Список монтажа</a></li>
                                    <li><a class="dropdown-item" asp-controller="Components" asp-action="AddMultiple">Добавить монтаж</a></li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Designs" asp-action="Index">Конструктив</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020-2021 - ProductionManagementSystem
        </div>
    </footer>
    
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)
@if (ViewBag.ErrorMessage != null)
    {
        <partial name="Partail/PartialError" />
        <script>
            let errorModal = new bootstrap.Modal(document.getElementById('errorModal'), 
            {
                keyboard: false
            })
            errorModal.show();
        </script>
    }
</body>
</html>
