@using Microsoft.AspNetCore.Identity
@using ProductionManagementSystem.DAL.Entities

@inject SignInManager<ProductionManagementSystemUser> SignInManager
@inject UserManager<ProductionManagementSystemUser> UserManager

<ul class="navbar-nav ml-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <span class="navbar-text">Hello @UserManager.GetUserName(User)!</span>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Войти</a>
    </li>
}
</ul>
