<!DOCTYPE html>
<html lang="ru">
<head>
  <title>@ViewData["Title"] - AltiumDB</title>
  <script type="text/javascript" src="~/js/carbon-components.min.js"></script>
  <link rel="stylesheet" href="~/css/carbon-components.min.css"/>
  <link rel="stylesheet" href="~/css/AltiumDB/site.css"/>
  <link rel="stylesheet" href="/components/TreeView/treeViewComponent.css"/>
  <script defer="defer" type="module" src="/js/chunk-vendors.ae49c94d.js"></script>
  <script defer="defer" type="module" src="/js/app.4c8fc8a9.js"></script>
  <link href="/css/chunk-vendors.6d7f044e.css" rel="stylesheet">
  <link href="/css/app.35667023.css" rel="stylesheet">
  <script defer="defer" src="/js/chunk-vendors-legacy.10a925ba.js" nomodule></script>
  <script defer="defer" src="/js/app-legacy.169b1a32.js" nomodule></script>
  @RenderSection("Stylesheet", required: false);
</head>
<body>
<header class="bx--header" role="banner" aria-label="IBM Platform Name" data-header>
  <a class="bx--header__menu-item" asp-area="" asp-controller="AltiumDB" asp-action="Index" tabindex="0">AltiumDB</a>
  <nav class="bx--header__nav" aria-label="Platform Name" data-header-nav>
    <ul class="bx--header__menu-bar" aria-label="Platform Name">
      <li>
        <a class="bx--header__menu-item" asp-area="" asp-controller="AltiumDB" asp-action="Tables" tabindex="0">
          Tables
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-area="AltiumDB" asp-controller="Projects" asp-action="Index" tabindex="0">
          Projects
        </a>
      </li>
    </ul>
  </nav>
  <div class="bx--header__global">
    <partial name="Partail/GlobalSearch/GlobalSearch"/>
    <partial name="Partail/Notification/NotificationIcon"/>
  </div>
</header>
<partial name="Partail/Notification/NotificationList"/>
<div class="bx--content">
  @RenderBody()
</div>
<partial name="Partail/DangerModal"/>
<script src="/components/TreeView/treeViewComponent.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/AltiumDB/site.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>