<!DOCTYPE html>
<html lang="ru">
<head>
  <title>@ViewData["Title"] - AltiumDB</title>
  <link rel="stylesheet" href="~/css/carbon-components.min.css"/>
  <link rel="stylesheet" href="~/css/AltiumDB/site.css"/>
  <link rel="stylesheet" href="/components/TreeView/treeViewComponent.css"/>
  @RenderSection("Stylesheet", required: false);
</head>
<body>
<header class="bx--header hidden-print" role="banner" aria-label="IBM Platform Name" data-header>
  <a class="bx--header__menu-item" asp-area="" asp-controller="Home" asp-action="Index" tabindex="0">CompDB</a>
  <nav class="bx--header__nav" aria-label="Platform Name" data-header-nav>
    <ul class="bx--header__menu-bar" aria-label="Platform Name">
      <li>
        <a class="bx--header__menu-item" asp-controller="Tables" asp-action="Index" tabindex="0">
          Tables
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-controller="Entities" asp-action="Index" tabindex="0">
          Entities
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-controller="Projects" asp-action="Index" tabindex="0">
          Projects
        </a>
      </li>
    </ul>
  </nav>
  <div class="bx--header__global">
    <partial name="Partail/GlobalSearch/GlobalSearch"/>
    <partial name="Partail/Notification/NotificationIcon"/>
    <button class="bx--header__menu-trigger bx--header__action" aria-label="User" title="User" onclick="document.location=`/Identity/Account/Login`">
      <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="bx--navigation-menu-panel-expand-icon" width="20" height="20" viewBox="0 0 32 32">
        <defs>
          <style>
              .cls-1 {
                fill: none;
              }
            </style>
        </defs>
        <path d="M26,16.5859V14H24v3a1,1,0,0,0,.293.707L27,20.4141V22H5V20.4141L7.707,17.707A1,1,0,0,0,8,17V13A7.9854,7.9854,0,0,1,20,6.0825V3.8467a9.896,9.896,0,0,0-3-.7959V1H15V3.0508A10.0136,10.0136,0,0,0,6,13v3.5859L3.293,19.293A1,1,0,0,0,3,20v3a1,1,0,0,0,1,1h7v1a5,5,0,0,0,10,0V24h7a1,1,0,0,0,1-1V20a1,1,0,0,0-.293-.707ZM19,25a3,3,0,0,1-6,0V24h6Z"/>
        <circle cx="26" cy="8" r="4"/>
        <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
      </svg>
    </button>
  </div>
</header>
<partial name="Partail/Notification/NotificationList"/>
<div class="bx--content">
  @RenderBody()
</div>
<partial name="Partail/DangerModal"/>
<partial name="Partail/Modals/ChangeQuantityPartialModal"/>
<script src="/components/TreeView/treeViewComponent.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/carbon-components.js"></script>
<script type="text/javascript" src="~/js/AltiumDB/site.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>