@using ProductionManagementSystem.Core.Models.Users
<!DOCTYPE html>
<html lang="ru">
<head>
  <title>@ViewData["Title"] - CompDB</title>
  <script src="~/lib/vue-js/vue.min.js"></script>
  <script src="~/lib/vue-js/vuex.global.js"></script>
  <link rel="stylesheet" href="~/lib/carbon-components/carbon-components.min.css"/>
  <link rel="stylesheet" href="~/css/AltiumDB/site.css"/>
  @RenderSection("Stylesheet", required: false);
</head>
<body>
<header class="bx--header hidden-print" role="banner" aria-label="IBM Platform Name" data-header>
  <a class="bx--header__menu-item" asp-area="" asp-controller="Home" asp-action="Index" tabindex="0">CompDB</a>
  <nav class="bx--header__nav" aria-label="Platform Name" data-header-nav>
    <ul class="bx--header__menu-bar" aria-label="Platform Name">
      <li>
        <a class="bx--header__menu-item" asp-controller="Tables" asp-action="Index" tabindex="0">
          Таблицы
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-controller="Entities" asp-action="Index" tabindex="0">
          Компоненты
        </a>
      </li>
      @if (User.IsInRole(RoleEnum.OrderPicker))
      {
        <li>
          <a class="bx--header__menu-item" asp-controller="Entities" asp-action="ChangeQuantity" tabindex="0">
            Добавить/Получить компоненты
          </a>
        </li>
      }
      <li>
        <a class="bx--header__menu-item" asp-controller="Pcb" asp-action="Index" tabindex="0">
          PCB
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-controller="CompDbDevices" asp-action="Index" tabindex="0">
          Приборы
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-controller="CDBTasks" asp-action="Index" tabindex="0">
          Задачи
        </a>
      </li>
    </ul>
  </nav>
  <div class="bx--header__global">
    <partial name="Partail/GlobalSearch/GlobalSearch"/>
    <partial name="Partail/Notification/NotificationIcon"/>
    <partial name="Partail/UserIcon"/>
  </div>
</header>
<partial name="Partail/Notification/NotificationList"/>
<div class="bx--content">
  @RenderBody()
</div>
<partial name="Partail/DangerModal"/>
<partial name="Partail/Modals/ChangeQuantityPartialModal"/>
<partial name="Partail/Modals/PassiveModal"/>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/lib/carbon-components/carbon-components.min.js"></script>
<script type="text/javascript" src="~/js/AltiumDB/site.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>