<!DOCTYPE html>
<html lang="ru">
<head>
  <title>@ViewData["Title"] - AltiumDB</title>
  <link rel="stylesheet" href="~/css/carbon-components.min.css"/>
  <link rel="stylesheet" href="~/css/AltiumDB/site.css"/>
  <link rel="stylesheet" href="/components/TreeView/treeViewComponent.css"/>
  @RenderSection("Stylesheet", required: false);
</head>
<body>
<header class="bx--header hidden-print" role="banner" aria-label="IBM Platform Name" data-header>
  <a class="bx--header__menu-item" asp-area="" asp-controller="Home" asp-action="Index" tabindex="0">CompDB</a>
  <nav class="bx--header__nav" aria-label="Platform Name" data-header-nav>
    <ul class="bx--header__menu-bar" aria-label="Platform Name">
      <li>
        <a class="bx--header__menu-item" asp-controller="Tables" asp-action="Index" tabindex="0">
          Tables
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-controller="Entities" asp-action="Index" tabindex="0">
          Entities
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-controller="Projects" asp-action="Index" tabindex="0">
          Projects
        </a>
      </li>
    </ul>
  </nav>
  <div class="bx--header__global">
    <partial name="Partail/GlobalSearch/GlobalSearch"/>
    <partial name="Partail/Notification/NotificationIcon"/>
    <button class="bx--header__menu-trigger bx--header__action" aria-label="User" title="User" onclick="document.location=`/Identity/Account/Login`">
      <img src="carbonUIicons/login.svg"  class="bx--navigation-menu-panel-expand-icon" width="20" height="20" style="filter: invert(1)">
    </button>
  </div>
</header>
<partial name="Partail/Notification/NotificationList"/>
<div class="bx--content">
  @RenderBody()
</div>
<partial name="Partail/DangerModal"/>
<partial name="Partail/Modals/ChangeQuantityPartialModal"/>
<script src="/components/TreeView/treeViewComponent.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="~/js/carbon-components.js"></script>
<script type="text/javascript" src="~/js/AltiumDB/site.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>