<!DOCTYPE html>
<html lang="ru">
<head>
  <title>@ViewData["Title"] - AltiumDB</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vuex"></script>
  @* <link rel="stylesheet" href="~/css/carbon-components.min.css"/> *@
  <link rel="stylesheet" href="https://unpkg.com/carbon-components@10.56.0/css/carbon-components.min.css"/>
  <link rel="stylesheet" href="~/css/AltiumDB/site.css"/>
  <link rel="stylesheet" href="/components/TreeView/treeViewComponent.css"/>
  @RenderSection("Stylesheet", required: false);
</head>
<body>
<header class="bx--header hidden-print" role="banner" aria-label="IBM Platform Name" data-header>
  <a class="bx--header__menu-item" asp-area="" asp-controller="Home" asp-action="Index" tabindex="0">CompDB</a>
  <nav class="bx--header__nav" aria-label="Platform Name" data-header-nav>
    <ul class="bx--header__menu-bar" aria-label="Platform Name">
      <li>
        <a class="bx--header__menu-item" asp-controller="Tables" asp-action="Index" tabindex="0">
          Tables
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-controller="Entities" asp-action="Index" tabindex="0">
          Entities
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-controller="Entities" asp-action="ChangeQuantity" tabindex="0">
          Add/Get entities
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-controller="Pcb" asp-action="Index" tabindex="0">
          PCB
        </a>
      </li>
      <li>
        <a class="bx--header__menu-item" asp-controller="CompDbDevices" asp-action="Index" tabindex="0">
          Devices
        </a>
      </li>
    </ul>
  </nav>
  <div class="bx--header__global">
    <partial name="Partail/GlobalSearch/GlobalSearch"/>
    <partial name="Partail/Notification/NotificationIcon"/>
    <partial name="Partail/UserIcon"/>
  </div>
</header>
<partial name="Partail/Notification/NotificationList"/>
<div class="bx--content">
  @RenderBody()
</div>
<partial name="Partail/DangerModal"/>
<partial name="Partail/Modals/ChangeQuantityPartialModal"/>
<partial name="Partail/Modals/PassiveModal"/>
<script src="/components/TreeView/treeViewComponent.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="https://unpkg.com/carbon-components@10.0.0/scripts/carbon-components.min.js"></script>
@* <script type="text/javascript" src="~/js/carbon-components.js"></script> *@
<script type="text/javascript" src="~/js/AltiumDB/site.js"></script>
@await RenderSectionAsync("Scripts", false)
</body>
</html>