@using ProductionManagementSystem.Core.Models.Users
<header class="d-print-none">
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid col-10 mx-auto">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProductionManagementSystem</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto  mb-2 mb-lg-0">
                        @if (User.IsInRole(RoleEnum.SuperAdmin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Пользователи</a>
                            </li>
                        }
                        @if (User.IsInRole(RoleEnum.Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Logs" asp-action="Index">Логи</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Заказы</a>
                            </li>
                        }
                        @if (User.Identity?.Name != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Tasks" asp-action="Index">Задачи</a>
                            </li>
                        }
                        @if (User.IsInRole(RoleEnum.Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Devices" asp-action="Index">Приборы</a>
                            </li>
                        }
                        @if (User.IsInRole(RoleEnum.OrderPicker) || User.IsInRole(RoleEnum.Admin))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComponents" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Монтаж
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownComponents">
                                    <li><a class="dropdown-item" asp-controller="Montages" asp-action="Index">Список</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-controller="Montages" asp-action="AddMultiple">Добавить несколько</a></li>
                                    <li><a class="dropdown-item" asp-controller="Montages" asp-action="ReceiveMultiple">Получить несколько</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-controller="MontagesSupplyRequest" asp-action="Index">Заявки на снабжение</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComponents" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Конструктив
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownComponents">
                                    <li><a class="dropdown-item" asp-controller="Designs" asp-action="Index">Список</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-controller="Designs" asp-action="AddMultiple">Добавить несколько</a></li>
                                    <li><a class="dropdown-item" asp-controller="Designs" asp-action="ReceiveMultiple">Получить несколько</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-controller="DesignsSupplyRequest" asp-action="Index">Заявки на снабжение</a></li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole(RoleEnum.Admin))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Reports" asp-action="Index">Отчёты</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Entities" asp-action="Index">AltiumDB</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>