@{
    ViewBag.Title = "Отчёты";
    Layout = "_BaseLayout";
}
<div class="d-flex justify-content-start">
<aside class="bd-sidebar" style="width: 200px; margin: 10px">
    <ul class="list-unstyled mb-0 py-3 pt-md-1">
      <li class="mb-1">
        <button class="btn btn-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMontage" aria-expanded="false" aria-controls="collapseMontage" style="width: 200px; text-align: left">
           >> Отчёты по конструктиву
        </button>
        <div class="collapse" id="collapseMontage">
            <ul>
                <li><a asp-controller="Reports" asp-action="MontageYearReport">Отчёты за год</a></li>
                <li><a asp-controller="Reports" asp-action="MontageMonthReport">Отчёты за месяц</a></li>
                <li><a asp-controller="Reports" asp-action="MontagePeriodReport">Отчёты за период</a></li>
            </ul>
        </div>
      </li>
        <li class="mb-1">
            <button class="btn btn-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDesign" aria-expanded="false" aria-controls="collapseDesign" style="width: 200px; text-align: left">
                >> Отчёты по монтажу
            </button>
            <div class="collapse" id="collapseDesign">
                <ul>
                    <li><a asp-controller="Reports" asp-action="DesignYearReport">Отчёты за год</a></li>
                    <li><a asp-controller="Reports" asp-action="DesignMonthReport">Отчёты за месяц</a></li>
                    <li><a asp-controller="Reports" asp-action="DesignPeriodReport">Отчёты за период</a></li>
                </ul>
            </div>
        </li>
         <li class="mb-1">
          <button class="btn btn-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDevice" aria-expanded="false" aria-controls="collapseDevice" style="width: 200px; text-align: left">
             >> Отчёты по приборам
          </button>
          <div class="collapse" id="collapseDevice">
              <ul>
                  <li><a asp-controller="Reports" asp-action="DeviceYearReport">Отчёты за год</a></li>
                  <li><a asp-controller="Reports" asp-action="DeviceMonthReport">Отчёты за месяц</a></li>
                  <li><a asp-controller="Reports" asp-action="DevicePeriodReport">Отчёты за период</a></li>
              </ul>
          </div>
        </li>
    </ul>
</aside>
<main role="main" class="pb-3" style="width:calc(100% - 250px)">
    @RenderBody()
</main>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}

@section Head
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
}
