@{
    ViewBag.Title = "Отчёты";
    Layout = "_BaseLayout";
}
<div class="d-flex justify-content-start">
<aside class="bd-sidebar" style="width: 200px; margin: 10px">
    <ul class="list-unstyled mb-0 py-3 pt-md-1">
      <li class="mb-1">
        <button class="btn btn-light btn-sm" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDesign" aria-expanded="false" aria-controls="collapseDesign">
           >> Отчёты по конструктиву
        </button>
        <div class="collapse" id="collapseDesign">
            <ul>
                <li><a asp-controller="Reports" asp-action="MontageYearReport">Отчёты за год</a></li>
                <li><a asp-controller="Reports" asp-action="MontageMonthReport">Отчёты за месяц</a></li>
                <li><a>Отчёты за период</a></li>
            </ul>
        </div>
      </li>
    </ul>
</aside>
<main role="main" class="pb-3" style="width:calc(100% - 250px)">
    @RenderBody()
</main>
</div>

@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
}

@section Head
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
}
