<button class="bx--header__menu-trigger bx--header__action" aria-label="Global search" title="Global search" id="globalSearchIcon">
  <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 32 32">
    <defs>
      <style>
            .cls-1 {
              fill: none;
            }
          </style>
    </defs>
    <path d="M29,27.5859l-7.5521-7.5521a11.0177,11.0177,0,1,0-1.4141,1.4141L27.5859,29ZM4,13a9,9,0,1,1,9,9A9.01,9.01,0,0,1,4,13Z" transform="translate(0 0)"/>
    <rect id="_Transparent_Rectangle_" data-name="&lt;Transparent Rectangle&gt;" class="cls-1" width="32" height="32"/>
  </svg>
</button>
<div data-search="" role="search" class="bx--search bx--search--xl altiumdb--global-search" id="globalSearch" style="display: none; width: 400px;">
  <label id="search-input-label-1" class="bx--label" for="globalSearchInput">Search</label>
  <input class="bx--search-input altiumdb--global-search--input" type="text" id="globalSearchInput" placeholder="Search">
  <svg focusable="false" fill="#c6c6c6" preserveAspectRatio="xMidYMid meet" style="will-change: transform; position: relative; left: 2rem;" xmlns="http://www.w3.org/2000/svg" class="bx--search-magnifier" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
    <path d="M15,14.3L10.7,10c1.9-2.3,1.6-5.8-0.7-7.7S4.2,0.7,2.3,3S0.7,8.8,3,10.7c2,1.7,5,1.7,7,0l4.3,4.3L15,14.3z M2,6.5	C2,4,4,2,6.5,2S11,4,11,6.5S9,11,6.5,11S2,9,2,6.5z"></path>
  </svg>
  <button class="bx--search-close bx--search-close--hidden altiumdb--global-search--close" title="Clear search input" aria-label="Clear search input">
    <svg focusable="false" fill="#ffffff" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--search-clear" width="20" height="20" viewBox="0 0 32 32" aria-hidden="true">
      <path d="M24 9.4L22.6 8 16 14.6 9.4 8 8 9.4 14.6 16 8 22.6 9.4 24 16 17.4 22.6 24 24 22.6 17.4 16 24 9.4z"></path>
    </svg>
  </button>
  <div class="bx--grid altiumdb--global-search--hints" style="width: calc(100% - 15px); position: absolute; top: 48px; left:15px">
    <div class="bx--row" style="height: 8px"></div>
    <div class="bx--row">
      <div class="bx--col--auto">
        Entities
      </div>
    </div>
    <div class="bx--row" style="height: 5px"></div>
    <div class="bx--row">
      <div class="bx--menu-divider altiumdb--global-search--hints--divider"></div>
    </div>
    <div class="bx--row" style="height: 5px"></div>
    <div class="bx--row">
      <div class="bx--col-sm-1">
        <img src="https://i.natgeofe.com/n/3861de2a-04e6-45fd-aec8-02e7809f9d4e/02-cat-training-NationalGeographic_1484324_3x4.jpg" class="altiumdb--entity-table--image">
      </div>
      <div class="bx--col-sm-1">
        Resistor
      </div>
      <div class="bx--col-sm-1">
        1k ±0.1% 0.01W
      </div>
      <div class="bx--col-sm-1"></div>
    </div>
  </div>
</div>