@model ProductionManagementSystem.Core.Models.Orders.Order
@{
    ViewData["Title"] = "Заказ №" + Model.Id;
}

<div class="row d-print-none">
    <div class="col">
        <h4>Подробная информация</h4>
    </div>
    <div class="col d-flex justify-content-end">
        <a class="btn btn-light btn-sm m-1" asp-controller="Logs" asp-action="Index" asp-route-orderId="@Model.Id">Логи</a>
        <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger btn-sm m-1">Удалить</a>
    </div>
</div>
<div class="alert alert-info d-print-none" role="alert">
    Здесь вы можете узнать подробную информацию о заказе №@Model.Id.
</div>
<hr/>
<partial name="Partail/Order/OrderDetails" model="@Model"/>