@{ 
    ViewData["Title"] = "Изменение монтажа " + ViewBag.Design.Name;
}
<p>Тип: @ViewBag.Design.Type</p>
<br>
<p>Наименование: @ViewBag.Design.Name</p>
<br>
<p>Количество: @ViewBag.Design.Quantity</p>
<br>
<p>Добавить: <input type="number" min="0" required id="AddedQuantity" autocomplete="off" /></p>
<button type="button" onclick="send()">Добавить</button>
<script type="text/javascript">
    function send() {
        var input = document.getElementById('AddedQuantity');
        window.location = '/Design/Adding?taskId=@ViewBag.TaskId&designId=@ViewBag.Design.Id&addedQuntity=' + input.value
    }
</script>

