@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Изменение конструктива " + ViewBag.Design.Name;
}
<form method="post" action="">
    
    Конструктивная единица: 
    <div class="autocomplete">
        <input id="tags" type="text" name="Type" value="@ViewBag.Design.Type" required autocomplete="off">
    </div>
    <br>
    Наименование: <input type="text" name="Name"  value="@ViewBag.Design.Name" required  autocomplete="off"><br>
    Количество: <input type="text" name="Quantity" value="@ViewBag.Design.Quantity" required min="0" autocomplete="off"><br>
    <button type="submit">Изменить</button>
</form>
<button onclick="window.location='/Design/Delete/@ViewBag.Design.Id'">Удалить</button>
<script defer>
    async function createComplete() {
        let r = await new Request('/Design/GetAllTypes');
        let availableTags = await fetch(r).then(c => c.json());

        autocomplete(document.getElementById("tags"), availableTags);
    }

    createComplete();
</script>