@model ProductionManagementSystem.Models.Device;

@{
    ViewBag.Title = "Удалить" + @Model.Name;
}

<div class="row">
    <div class="col">
        <h4>Удалить</h4>
        <h5>Вы уверены, что хотите удалить это?</h5>
    </div>
    <div class="col">
        <form asp-action="Delete" class="text-right">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Удалить" class="btn btn-danger"/>
        </form>
    </div>
</div>
<hr />
<div class="container">
    @Html.CreateDevice(Model, false, null)
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Вернуться к списку конструктива</a>
    </form>
</div>
