@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1><a href="https://docs.google.com/spreadsheets/d/1A7j-9io_p-l1N2X-3R45gDkzE96mll8C-pF96pp47uU/edit?usp=sharing">Багтрекер</a></h1>
</div>
