@using ProductionManagementSystem.WEB.Models
@model ProductionManagementSystem.WEB.Models.Modals.ModalSupplyRequest;

<div class="modal fade" id="@Model.NameModal" tabindex="-1" aria-labelledby="changeStatusModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="changeStatusModalLabel">Изменение статуса</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="ChangeStatus" id="changeStatusForm">
                    <input name="supplyRequestId" value="@Model.SupplyRequestId" hidden>
                    <div class="mb-3">
                        <label for="to" class="col-form-label">Новый статус</label>
                        <select class="form-select" id="to" name="to" asp-items="Html.GetEnumSelectList<StatusSupplyEnum>()"></select>
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Примечание:</label>
                        <textarea class="form-control" id="message-text" name="message"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" onclick="document.querySelector('#changeStatusForm').submit()">Изменить</button>
            </div>
        </div>
    </div>
</div>