<!DOCTYPE html>
<html lang="ru">
<head>
  <title>@ViewData["Title"] - AltiumDB</title>
  <script type="text/javascript" src="~/js/vue.global.js"></script>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="~/js/carbon-components.min.js"></script>
  <link rel="stylesheet" href="~/css/carbon-components.min.css" />
  <link rel="stylesheet" href="~/css/AltiumDB/site.css" />
  <link rel="stylesheet" href="/components/TreeView/treeViewComponent.css" />
  <script type="text/javascript" src="~/js/AltiumDB/site.js"></script>
  @RenderSection("Stylesheet", required:false);
</head>
<body>
<header class="bx--header" role="banner" aria-label="IBM Platform Name" data-header>
  <a class="bx--header__menu-item" asp-controller="AltiumDB" asp-action="Index" tabindex="0">AltiumDB</a>
  <nav class="bx--header__nav" aria-label="Platform Name" data-header-nav>
    <ul class="bx--header__menu-bar" aria-label="Platform Name">
      <li>
        <a class="bx--header__menu-item" asp-controller="AltiumDB" asp-action="Tables" tabindex="0">
          Tables
        </a>
      </li>
      @* <li> *@
      @*   <a class="bx--header__menu-item" asp-controller="AltiumDB" asp-action="Directories" tabindex="0"> *@
      @*     Directories setting *@
      @*   </a> *@
      @* </li> *@
    </ul>
  </nav>
</header>
<div class="bx--content">
  @RenderBody()
</div>
<div data-modal id="modal-danger" class="bx--modal bx--modal--danger" role="dialog"
     aria-modal="true" aria-labelledby="modal-danger-label" aria-describedby="modal-danger-heading" tabindex="-1">
  <div class="bx--modal-container">
    <div class="bx--modal-header">
      <p class="bx--modal-header__label bx--type-delta" id="modal-danger-label"></p>
      <p class="bx--modal-header__heading bx--type-beta" id="modal-danger-heading"></p>
      <button class="bx--modal-close" type="button" data-modal-close aria-label="close modal" >
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--modal-close__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M12 4.7L11.3 4 8 7.3 4.7 4 4 4.7 7.3 8 4 11.3 4.7 12 8 8.7 11.3 12 12 11.3 8.7 8z"></path></svg>
      </button>
    </div>

    <!-- Note: Modals with content that scrolls, at any viewport, requires `tabindex="0"` on the `bx--modal-content` element -->

    <div class="bx--modal-content" >
      <p id="modal-danger-text"></p>
    </div>
    <div class="bx--modal-footer">
      <button class="bx--btn bx--btn--secondary" type="button" data-modal-close>Cancel</button>
      <button class="bx--btn bx--btn--danger" type="button" id="modal-danger-delete-button" aria-label="Danger" data-modal-close>Delete</button>
    </div>
  </div>
  <span tabindex="0"></span>
</div>
<script src="/components/TreeView/treeViewComponent.js"></script>
</body>
</html>
