@model List<ProductionManagementSystem.WEB.Models.AltiumDB.GlobalSearch.GlobalSearchHintsSectionViewModel>

<div id="global-search--hints" class="bx--grid altiumdb--global-search--hints" style="width: 100%; position: absolute; top: 48px;">
  @foreach (var section in Model)
  {
    <partial name="Partail\GlobalSearch\GlobalSearchHintsSection" model="section"/>
  }
</div>