@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Добавить задачу";
}

<form method="post" action="">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="Customer" class="control-label">Заказчик: </label>
                <input name="Customer" id="Customer" class="form-control" autocomplete="off" required/>
            </div>
            <div class="form-group">
                <label for="Deadline" class="control-label">Deadline: </label>
                <input id="Deadline" class="form-control" type="date" name="Deadline" min="@ViewBag.Date" value="@ViewBag.Date"/>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <h3>
                Приборы
                <button type="button" onclick="createDevice()" class="btn btn-link">Добавить прибор</button>
                <button type="button" onclick="removeDevice()" class="btn btn-link">Удалить последний прибор</button>
            </h3>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <td>№</td>    
                <td>Наименование прибора</td>
                <td>Количество</td>
            </tr>
            </thead>
            <tr id="devTr0">
            </tr>
        </table>
    </div>
    <button type="submit" class="btn btn-info">Принять</button>
</form>
<script>
    
</script>