<div data-modal id="modal-change-task-status" class="bx--modal " role="dialog"
     aria-modal="true" aria-labelledby="modal-change-task-status-label" aria-describedby="modal-change-task-status-heading" tabindex="-1">
  <div class="bx--modal-container">
    <div class="bx--modal-header">
      <p class="bx--modal-header__heading bx--type-beta" id="modal-change-task-status-heading">Изменение статуса задачи</p>
      <button class="bx--modal-close" type="button" data-modal-close aria-label="close modal" >
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" class="bx--modal-close__icon" width="16" height="16" viewBox="0 0 16 16" aria-hidden="true"><path d="M12 4.7L11.3 4 8 7.3 4.7 4 4 4.7 7.3 8 4 11.3 4.7 12 8 8.7 11.3 12 12 11.3 8.7 8z"></path></svg>
      </button>
    </div>
    <div class="bx--modal-content">
      <p id="modal-change-task-status-content">
      </p>
    </div>
    <div class="bx--modal-footer">
      <button class="bx--btn bx--btn--secondary" type="button" data-modal-close>Отмена</button>
      <button id="modal-change-task-status-partly-button" class="bx--btn bx--btn--secondary" type="button" data-modal-primary-focus>Совместить с текущим</button>
      <button id="modal-change-task-status-full-button" class="bx--btn bx--btn--primary" type="button" data-modal-primary-focus>Изменить</button>
    </div>
  </div>
  <span tabindex="0"></span>
</div>
