@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Добавление прибора";
}

<form method="post" action="">
    Наименовие: <input type="text" name="Name" required autocomplete="off">
    <br>
    Количество на складе: <input type="number" name="Quantity" required autocomplete="off" min="0">
    <br>
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>
                    Монтаж
                    <button type="button" onclick="createComponent()" class="btn btn-link">Добавить</button>
                    <button type="button" onclick="removeComponent()" class="btn btn-link">Удалить последний</button>
                </h3>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td>№</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                </thead>
                <tr id="comTr1">
                    <td>
                        1
                    </td>
                    <td>
                        <select class="ComponentSelect align-top width-100" id="Component1" name="Component1">
                            @foreach (var c in ViewBag.Components)
                            {
                                <option value="@c.Id">@c.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input class="ComponentInput align-top" id="Component1Input" name="Component1Input" type="number" required autocomplete="off" min="0" />
                    </td>
                    <td>
                        <textarea class="align-top w-100" name="Component1Text"></textarea>
                    </td>
                </tr>
            </table>
        </div>
        <div class="row">
            <div class="col">
                <h3>
                    Конструктив
                    <button type="button" onclick="createDesign()" class="btn btn-link">Добавить</button>
                    <button type="button" onclick="removeDesign()" class="btn btn-link">Удалить последний</button>
                </h3>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <td>№</td>
                        <td>#</td>
                        <td>#</td>
                        <td>#</td>
                    </tr>
                </thead>
                <tr id="desTr1">
                    <td>
                        1
                    </td>
                    <td>
                        <select class="DesignSelect align-top width-100" id="Design1" name="Design1">
                            @foreach (var d in ViewBag.Designs)
                            {
                                <option value="@d.Id">@d.Name</option>
                            }
                        </select>
                    </td>
                    <td>
                        <input class="DesignInput align-top" id="Design1Input" name="Design1Input" type="number" required autocomplete="off" min="0" />
                    </td>
                    <td>
                        <textarea class="align-top w-100" name="Design1Text"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <button type="submit">Добавить</button>
</form>