@model ProductionManagementSystem.WEB.Models.Reports.YearReport

@{
    Layout = "_ReportsLayout";
}

<form>
    <div class="input-group mb-3" style="width: 400px">
        <select class="form-select" name="year" asp-items="Model.Years" style="width: 100px"></select>
        <button class="btn btn-outline-secondary" type="submit">Показать</button>
    </div>
</form>

<partial name="Partail/Charts/BarChart" model="Model.BarChart"/>