@model ProductionManagementSystem.Core.Models.Devices.Device;

@{
    ViewBag.Title = "Удалить " + @Model.Name;
}

<div class="row">
    <div class="col">
        <h4>Удалить</h4>
        <h5>Вы уверены, что хотите удалить это?</h5>
    </div>
    <div class="col d-flex justify-content-end">
        <form asp-action="Delete" class="text-right">
            <input type="hidden" asp-for="Id"/>
            <input type="submit" value="Удалить" class="btn btn-danger btn-sm m-1"/>
        </form>
    </div>
</div>
<hr />
<partial name="Partail/Device/DeviceDetails" model="@Model"/>
