@model dynamic

@{
  ViewBag.Title = "Add project";
  Layout = "_AltiumDBLayout";
}

<div class="bx--grid">
  <form method="post" enctype="multipart/form-data">
    <dib class="bx--row bx--row-padding">
      <div class="bx--col-md-2">
        <div class="bx--form-item">
          <strong class="bx--file--label">BOM file</strong>
          <p class="bx--label-description">Only .xlsx file.</p>
          <div class="bx--file" data-file data-file-demo-state-manager>
            <label for="bom-file-uploader" class="bx--file-browse-btn" role="button" tabindex="0">
              <div data-file-drop-container class="bx--file__drop-container">
                Drag and drop files here or
                upload
                <input type="file" name="bom" class="bx--file-input" id="bom-file-uploader" data-file-uploader
                       data-target="[data-file-container]"/>
              </div>
            </label>
            <div data-file-container class="bx--file-container">
            </div>
          </div>
        </div>
      </div>
      <div class="bx--col-md-2">
        <div class="bx--form-item">
          <strong class="bx--file--label">Image preview file</strong>
          <p class="bx--label-description">.png or .jpg file.</p>
          <div class="bx--file" data-file data-file-demo-state-manager>
            <label for="image-file-uploader" class="bx--file-browse-btn" role="button" tabindex="0">
              <div data-file-drop-container class="bx--file__drop-container">
                Drag and drop files here or upload
                <input type="file" name="image" class="bx--file-input" id="image-file-uploader" data-file-uploader
                       data-target="[data-file-container]"/>
              </div>
            </label>
            <div data-file-container class="bx--file-container">
            </div>
          </div>
        </div>
      </div>
      <div class="bx--col-md-2">
        <div class="bx--form-item">
          <strong class="bx--file--label">Circuit diagram file</strong>
          <p class="bx--label-description">.pdf file.</p>
          <div class="bx--file" data-file data-file-demo-state-manager>
            <label for="CircuitDiagram-file-uploader" class="bx--file-browse-btn" role="button" tabindex="0">
              <div data-file-drop-container class="bx--file__drop-container">
                Drag and drop files here or upload
                <input type="file" name="circuitDiagram" class="bx--file-input" id="CircuitDiagram-file-uploader" data-file-uploader
                       data-target="[data-file-container]"/>
              </div>
            </label>
            <div data-file-container class="bx--file-container">
            </div>
          </div>
        </div>
      </div>
      <div class="bx--col-md-2">
        <div class="bx--form-item">
          <strong class="bx--file--label">Assembly drawing file</strong>
          <p class="bx--label-description">.pdf file.</p>
          <div class="bx--file" data-file data-file-demo-state-manager>
            <label for="AssemblyDrawing-file-uploader" class="bx--file-browse-btn" role="button" tabindex="0">
              <div data-file-drop-container class="bx--file__drop-container">
                Drag and drop files here or upload
                <input type="file" name="assemblyDrawing" class="bx--file-input" id="AssemblyDrawing-file-uploader" data-file-uploader
                       data-target="[data-file-container]"/>
              </div>
            </label>
            <div data-file-container class="bx--file-container">
            </div>
          </div>
        </div>
      </div>
      <div class="bx--col-md-2">
        <div class="bx--form-item">
          <strong class="bx--file--label">3D model</strong>
          <p class="bx--label-description">.stl file.</p>
          <div class="bx--file" data-file data-file-demo-state-manager>
            <label for="treeDModel-file-uploader" class="bx--file-browse-btn" role="button" tabindex="0">
              <div data-file-drop-container class="bx--file__drop-container">
                Drag and drop files here or upload
                <input type="file" name="treeDModel" class="bx--file-input" id="treeDModel-file-uploader" data-file-uploader
                       data-target="[data-file-container]"/>
              </div>
            </label>
            <div data-file-container class="bx--file-container">
            </div>
          </div>
        </div>
      </div>
    </dib>
    <div class="bx--row bx--row-padding">
      <div class="bx--col-lg-2 bx--offset-lg-10">
          <button type="submit" class="bx--btn bx--btn--sm bx--btn--primary">Add project</button>
      </div>
    </div>
  </form>
</div>