@model ProductionManagementSystem.Models.Component;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Добавление монтажа";
}

<form method="post" action="" onsubmit="checkConfirmForm()">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div class="form-group">
            <label asp-for="Name"></label><br />
            <input asp-for="Name" autocomplete="off" required/>
            <span asp-validation-for="Name"></span>
        </div>
        <div class="form-group">
            <label asp-for="Type"></label><br />
            <div class="autocomplete">
                <input id="tags" asp-for="Type" autocomplete="off" required/>
            </div>
            <span asp-validation-for="Type"></span>
        </div>
        <div class="form-group">
            <label asp-for="Nominal"></label><br />
            <input asp-for="Nominal" autocomplete="off" />
            <span asp-validation-for="Nominal"></span>
        </div>
        <div class="form-group">
            <label asp-for="Corpus"></label><br />
            <input asp-for="Corpus" autocomplete="off" />
            <span asp-validation-for="Corpus"></span>
        </div>
        <div class="form-group">
            <label asp-for="Explanation"></label><br />
            <input asp-for="Explanation" autocomplete="off" />
            <span asp-validation-for="Explanation"></span>
        </div>
        <div class="form-group">
            <label asp-for="Manufacturer"></label><br />
            <input asp-for="Manufacturer" autocomplete="off" />
            <span asp-validation-for="Manufacturer"></span>
        </div>
        <div class="form-group">
            <label asp-for="Quantity"></label><br />
            <input type="number" asp-for="Quantity" min="0" autocomplete="off" required/>
            <span asp-validation-for="Quantity"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Создать" class="btn" />
        </div>
    </div>
</form>
<script defer>
    async function createComplete() {
        let r = await new Request('/Component/GetAllTypes');
        let availableTags = await fetch(r).then(c => c.json());

        autocomplete(document.getElementById("tags"), availableTags);
    }

    createComplete();
</script>