@model ProductionManagementSystem.WEB.Models.ComponentsForDevice;

<form action="" method="get">
    <div class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            Фильтр:
        </div>
        <div class="col-12">
            <select name="typeName" id="typeName" asp-items="ViewBag.TypeNames" class="form-select" readonly>
                <option value="">Конструктивная единица</option>
            </select>
        </div>
        <div class="col-12">
            <select name="deviceId" id="deviceId" asp-items="ViewBag.Devices" class="form-select" readonly>
                <option value="">Прибор</option>
            </select>
        </div>
        <div class="col-12">
            <button class="btn btn-primary">Принять</button>
        </div>
    </div>
</form>
<form action="" method="post">
    <table class="table">
        <thead class="sticky-top table-light">
        <tr>
            <th class="sticky-top">Наименование</th>
            <th class="sticky-top">Количество для добавления</th>
            <th class="sticky-top">
                <button class="btn btn-primary">Добавить на склад</button>
            </th>
        </tr>
        </thead>
        @for (int i = 0; i < Model.ComponentName.Length; i++)
        {
            <tr>
                <input asp-for="ComponentId[i]" hidden>
                <input asp-for="ComponentName[i]" hidden>
                <td>@Model.ComponentName[i]</td>
                <td>
                    <input type="number" asp-for="Quantity[i]" autocomplete="off" required min="0" value="0">
                </td>
            </tr>
        }
    </table>
</form>