@model ProductionManagementSystem.Core.Models.Tasks.Task;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Изменение прибора";
}
<h4>Редактировать прибор</h4>
<div class="alert alert-info" role="alert">
    Здесь вы можете изменить информацию о задаче №@Model.Id.
</div>
<hr/>
<form method="post" action="">
    <input asp-for="Id" hidden/>
    <input asp-for="Status" hidden/>
    <input asp-for="StartTime" hidden/>
    <div class="col-md-4">
        <div class="form-group">
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" type="text" class="form-control datepicker" placeholder="dd.MM.yyyy"/>
            </div>
        </div>
        <div class="form-group">
            <h4>Приборы: <br/>
                @foreach (var device in Model.Devices)
                {
                    <a asp-controller="Devices" asp-action="Details" asp-route-id="@device.DeviceId">@device.Device.ToString()</a> @device.Quantity <text>шт.</text> <br/>
                }
            </h4>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="control-label">Описание:</label>
            <textarea asp-for="Description" class="form-control" autocomplete="off"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Принять" class="btn btn-primary"/>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Вернуться к списку задач</a>
</div>