@model IEnumerable<ProductionManagementSystem.Core.Models.Tasks.Task>
@{
    ViewData["Title"] = "Задачи";
}
<h2>Cписок задач</h2>
<div class="row">
    <div class="col-12 offset-sm-10">
        <a class="btn btn-primary btn-sm m-1" asp-action="Create">Создать новую задачу</a>
    </div>
</div>
<partial name="Partail/Task/TasksTable" model="@Model"/>