@model IEnumerable<ProductionManagementSystem.DAL.Entities.ProductionManagementSystemUser>
@{
    ViewBag.Title = "Список пользователей";
}
 
<a asp-area="Identity" asp-page="/Account/Register">Добавить пользователя</a>
 
<table class="table">
    <tr><th>Логин</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <a class="btn btn-light btn-sm" asp-action="Delete" asp-route-username="@user.UserName">Удалить</a>
                <a class="btn btn-light btn-sm" asp-action="ChangeRole" asp-route-username="@user.UserName">Права доступа</a>
            </td>
        </tr>
    }
</table>