@model IEnumerable<ProductionManagementSystem.DAL.Entities.ProductionManagementSystemUser>
@{
    ViewBag.Title = "Список пользователей";
}
 
<a asp-action="Create">Создать пользователя</a>
 
<table class="table">
    <tr><th>Логин</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                @if (user.UserName != "admin")
                {
                    <a class="btn btn-light btn-sm" asp-action="Delete" asp-route-username="@user.UserName">Удалить</a>
                    <a class="btn btn-light btn-sm" asp-action="ChangeRole" asp-route-username="@user.UserName">Права доступа</a>
                }
            </td>
        </tr>
    }
</table>