@model ProductionManagementSystem.WEB.Models.AltiumDB.EntityViewModel

@{
  ViewBag.Title = "Create entity";
  Layout = "Shared/_AltiumDBLayout";
}

<div class="bx--grid">
  <div class="bx--row">
    <div class="bx--col-sm-2">
      <form method="post">
        @foreach (var (column, i) in Model.Table.TableColumns.Where(x => x.ColumnName != "Id")
          .Select((x, i) => (x, i)))
        {
          <div class="bx--form-item">
            <label for="text-input-@column.ColumnName" class="bx--label">@column.ColumnName</label>
            <div class="bx--form__helper-text"></div>
            <input id="text-input-@column.ColumnName" class="bx--text-input" name="data[@i].Value" value="@(Model.Data == null ? "" : Model.Data[column.ColumnName])">
            <input type="hidden" name="data[@i].Key" value="@column.ColumnName">
          </div>
          <br/>
        }
        <div class="bx--form-item">
          <button class="bx--btn bx--btn--primary" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>