@model ProductionManagementSystem.Core.Models.AltiumDB.BaseAltiumDbEntity

@{
  ViewBag.Title = "Entity details";
  Layout = "Shared/_AltiumDBLayout";
}
<div class="bx--grid">
  <div class="bx--row">
    <div class="bx--col-sm-2">
      <section class="bx--structured-list">
        <div class="bx--structured-list-thead">
          <div class="bx--structured-list-row bx--structured-list-row--header-row">
            <div class="bx--structured-list-th"></div>
            <div class="bx--structured-list-th"></div>
          </div>
        </div>
        <div class="bx--structured-list-tbody">
          @foreach (var key in Model.Keys)
          {
              <div class="bx--structured-list-row">
                <div class="bx--structured-list-td bx--structured-list-content--nowrap">
                  <strong>@key</strong>
                </div>
                <div class="bx--structured-list-td">  
                  <span style="white-space: pre-line">@Model[key]</span>
                </div>
              </div>
          }
        </div>
      </section>
    </div>
  </div>
</div>