@{
  ViewBag.Title = "AltiumDB home";
  Layout = "_AltiumDBLayout";
}

<div id="search">
  <cv-search label="Search input label">
  </cv-search>
  <cv-file-uploader ref="fileUploader">
  </cv-file-uploader>
</div>




@section Scripts
{
  <script>
  new Vue().$mount('#search')
  </script>
}
