.altiumdb--entity--image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    object-fit: cover;
    max-height: 300px;
    max-width: 300px;
}

.altiumdb--entity-table--image
{
    width: 50px; 
    height: 50px;
    object-fit: cover;
}

.altiumdb--global-search
{
    display: flex;
    width: 400px;
}

.altiumdb--global-search--input
{
    color: #ffffff;
    background-color: #262626;
}

.altiumdb--global-search--close
{
    fill: #c6c6c6;
}

.altiumdb--global-search--input:focus~
.altiumdb--global-search--close:hover{
    outline: 2px solid #ffffff;!important;
    outline-offset: -2px;!important;
}

.altiumdb--global-search--close:focus,
.altiumdb--global-search--close:hover{
    outline: 2px solid #ffffff;!important;
    outline-offset: -2px;!important;
}

.altiumdb--global-search--close:focus::before
{
    background-color: #ffffff;
}

.altiumdb--global-search--close:hover
{
    background-color: #393939;
}

.altiumdb--global-search--close:before
{
    background-color: #262626;
}

.altiumdb--global-search--input:focus
{
    outline: 2px solid #ffffff;
    outline-offset: -2px;
}

.altiumdb--global-search--input::placeholder {
    color: #6f6f6f;
}

.altiumdb--global-search--hints
{
    background-color: #262626;
    color: #c6c6c6;
}

.altiumdb--global-search--hints--divider
{
    background-color: #393939;
}

.bx--search svg.bx--search-magnifier{
    position: relative;
    left: 2rem;
}

.bx--search--sm svg.bx--search-magnifier{
    position: relative;
    left: 1.5rem;
}

.altiumdb--global-search--hints--row
{
    cursor: pointer;
    padding: 0.5rem;
}

.altiumdb--global-search--hints--row:hover
{
    background-color: #393939;
    outline: 2px solid #ffffff;
    outline-offset: -2px;
}

.altiumdb--notes-list--date
{
    font-size: 0.75rem;
    color: #c6c6c6;
    font-weight: 300;
    float: right;
}

.bx--product-list__item:hover
{
    background-color: #393939;
}

.bx--panel--overlay {
    width: 24rem;
}

.bx--product-switcher__product-list .bx--overflow-menu:hover {
    background-color: #393939;
}

@media print {
    .hidden-print {
        display: none !important;
    }
}

.bx--data-table thead{
    position: sticky;
    top: 3rem;
    z-index: 10;
}
